.Resume {
  position: relative;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(#d1d8e0, 0.4);
  transition: all 200ms ease-out;

  &__score {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -7px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #0fb9b1;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
  }

  &__summary {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  }

  &__profile {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 120px;
    height: 144px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin: 10px;
      border-radius: 6px 6px 0 0;
    }
  }

  &__gender {
    position: absolute;
    left: calc(50% - 50px);
    top: 110px;
    background-color: #778ca3;
    color: #fff;
    width: 25px;
    display: flex;
    height: 23px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 7px;

    &--male {
      background-color: #2d98da;
    }

    &--female {
      background-color: #8854d0;
    }
  }

  &__age {
    position: absolute;
    left: calc(50% - 25px);
    top: 110px;
    background-color: #4b6584;
    color: #fff;
    width: 75px;
    display: flex;
    height: 23px;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 7px 0;
  }

  &__basic-info {
    flex-grow: 1;
    padding: 10px;
  }

  &__created-at {
    font-size: 13px;
    color: #778ca3;
    margin-bottom: 7px;

    small {
      color: #bed1e5;
      margin-right: 8px;
    }
  }

  &__name {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__tag {
    display: inline-block;
    padding: 3px 9px;
    background-color: #a5b1c2;
    color: #fff;
    font-size: 13px;
    margin-right: 3px;
    margin-bottom: 7px;
    border-radius: 10px;
  }

  &__info {
    position: relative;
    font-size: 15px;
    margin-bottom: 7px;
    color: #4b6584;

    &--icon {
      padding-left: 22px;

      .fa {
        position: absolute;
        left: 0;
        opacity: .7;
      }
    }

    &--big {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__more-info {
    overflow: hidden;
    max-height: 13px;
    padding: 0 20px;
    border-radius: 0 0 5px 5px;
    transition: all 200ms ease-out;

    &--open {
      max-height: 400px;
      overflow-y: auto;
      background-color: #e3ebf3;
      padding: 20px;
      margin-top: 0;
      box-sizing: border-box;

      .Resume__more-button {
        opacity: 1;
        margin-top: -20px;
        line-height: 36px;
        background: rgba(#e3ebf4, 0.7);
      }
    }
  }

  &__more-button {
    position: absolute;
    margin-top: -17px;
    cursor: pointer;
    outline: none;
    opacity: 0.7;
    width: 100%;
    border: 0;
    background: transparent;
    color: #4b6483;
    font-size: 13px;
    line-height: 27px;
    left: 0;

    .fa {
      position: relative;
      top: 3px;
      left: 4px;
      opacity: 0.5;
      font-size: 17px
    }

    &:hover {
      opacity: 1;
    }
  }

  &__session-title {
    margin-top: 15px;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 10px;
  }

  &__session-item {
    background: rgba(255,255,255,.6);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  &:hover {
    box-shadow: 0 0 15px 0 rgba(#778ca3, .5);

    .Resume {
      &__created-at {
        color: #4b6584;

        small {
          color: #778ca3;
        }
      }
    }
  }
}

@media(max-width: 520px) {
  .Resume {

    &__summary {
      flex-wrap: wrap;
    }

    &__profile {
      text-align: center;
      width: 100%;
    }

    &__name,
    &__created-at,
    &__tags {
      text-align: center;
    }
  }
}
