.FormationFieldset {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 5px 0 15px 0;

  &__isConcludedLabel {
    align-items: center;

    select {
      margin-left: 10px;
    }
  }
}
